<div class="panel panel-default">
  <div class="panel-heading">
    クイズのタイトル、内容、答えを設定してね。
  </div>

<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :title, placeholder: "タイトル" %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "クイズの内容を書いてね" %>
  </div>
  <div class="field">
    <%= f.text_field :word, placeholder: "正解" %>
  </div>
  <%= f.submit "完了！！", class: "btn btn-warning" %>
<% end %>